<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="base-navbar-main">

    {% load static %}
    <a class="navbar-brand p-0" href="{% url 'user:landing' %}">
      <img id="brand-logo" src="{% static "img/logos/chq-logo-xs.png" %}" class="responsive" alt="">
      &nbsp;&nbsp;&nbsp;CHQ E-Reviewer
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Administration Page</a>         
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user:profile' %}">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>